
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row header-title">
    <div class="title">Ajaxify Custom grid and thmbnail views</div>
    <hr class="hr-tp-0"/>
</div>
<div class="row">
    <div class="col-md-6 pd-0 ">
        <ul class="list-group">            
            <li class="list-group-item ">
                <span class="img-circle">1</span>
                <a href="@Url.Action("Sample1","Home")">
                    Custom Grid with paging 
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">2</span>  
                <a href="@Url.Action("Sample2","Home")">
                    Custom Grid with paging and sorting                                     
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">3</span>  
                <a href="@Url.Action("Sample3","Home")">
                    Custom Grid with Each Column filter, paging and sorting              
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">4</span>
                <a href="@Url.Action("Sample4","Home")">
                    Custom Grid with Each Column filter, paging, sorting and CRUD operation
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">5</span>  
                <a href="@Url.Action("Sample5","Home")">
                    Multiple custom grid on single page
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">6</span>  
                <a href="@Url.Action("Sample6","Home")">
                    Thumbnail view with paging, sorting, animation and image preview
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">7</span>  
                <a href="@Url.Action("Sample7","Home")">
                    Thumbnail view with Infinite scroll
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">8</span>  
                <a href="@Url.Action("Sample8","Home")">
                    Semi Thumbnail view with paging, sorting, animation and image preview
                </a>
            </li>
            <li class="list-group-item ">
                <span class="img-circle">9</span>  
                <a href="@Url.Action("Sample9","Home")">
                    Semi Thumbnail view with Infinite scroll
                </a>
            </li>

        </ul>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/01_preview1.png" class="img-responsive" />
    </div>
</div>


